header{
    background-color: #BBB;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;/*let the text in uppercase  */
    color: #000000;
    font-weight: bold; /*let text in blod */
    font-size: 22px;
    text-decoration: none;
}